[2015-08-14 21:55] alecfwilson opened #1 "Allow upload of files on my local machine instead of requiring they be hosted somewhere"

[2015-08-16 23:52] lambtron commented on #1
Thanks for the issue. It is possible to upload locally hosted images, just takes a few extra steps.

Check out this fork and commit from @wcjohnson11: https://github.com/wcjohnson11/emojipacks/commit/cea65d9f5db49f361d6f68241fa0f2bf0b086d39

Host the images locally, then in the .yaml file, provide the relative path to the image.

Can you try that and see if that works?

[2015-08-17 20:45] alecfwilson commented on #1
[code]

It just hangs here. I forked @wcjohnson11's fork, and replaced his images with mine. At first, I thought it was an issue with file types, so I ensured they are all pngs. Also, 2 factor auth is not enabled for my Slack account, so that isn't the issue. It's simply not logging in.

[2015-08-22 22:45] lambtron commented on #1
That is very strange and I'm not sure what the problem might be.

Can you try running `emojipacks` with the debug flag enabled?

[code]

Then, after it hangs there, exit the process. The debug flag will write the HTML to `./test` folder (there should be a `./test/Slack.html`). Can you open that in the browser and see what that page looks like?

Chances are something is preventing the script from l

[2015-08-23 19:24] teleject opened #2 ""Foodz" YAML file is missing?"
http://www.emojipacks.com/packs/foodz.yaml gives me "Not Found" message.

[2015-08-23 19:25] teleject commented on #2
Ah. Looks like the link off the site goes to http://www.emojipacks.com/packs/foodz.yaml, when the filename doesn't have a "z": http://www.emojipacks.com/packs/food.yaml

[2015-08-24 16:46] Shpigford opened #4 "SyntaxError: Unexpected token *"
I've installed via both `npm` and `git clone`, but result in an error when I try to run `emojipacks`

[code]

[2015-08-24 17:08] lambtron commented on #2
Oh shoot. Good catch. Will fix this.

[2015-08-24 17:09] lambtron commented on #4
Ah good catch. What node version are you using?

Emojipacks requires at least node version 0.11.x, since it uses generators and `*` functions.

Can you try updating node version and see if that fixes it? :)

[2015-08-24 17:50] lambtron commented on #2
Updated, now it is just `food` and it should work.

[2015-08-24 17:50] #2 closed, assigned to nobody

[2015-08-25 02:52] rafaelmagu opened #5 "Does not work for Google Auth teams"
The app fails when trying to import packs into a Slack team that uses Google accounts for authentication.

[code]

[2015-08-25 03:49] austinemayer commented on #1
i am currently getting the same issue. when running the debug flag. it says
Uh oh! Error: ENOENT, no such file or directory '/Users/austinemayer/Sites/emojipacks/test/Slack.html'

EDIT: found a work around.
upload your image dir to github.
view raw image on github.
copy url path and replace local path for github path in the yaml file.

[2015-08-25 17:54] lambtron commented on #5
Hmmm yes, i did _not_ consider this authentication method when building this. Sorry about that! Maybe I can add support for this at a later date.

[2015-08-26 17:35] alecfwilson commented on #1
@austinemayer - thanks for the tip, it still hangs for me. I've let it hang for up to 10 minutes before killing it, how long does it take?

@lambtron - when I run emojipacks with the debug flag and ls -a, there is no test directory, and there is no Slack.html file anywhere. Are you sure the debug flag works?

[2015-08-26 17:51] austinemayer commented on #1
@alecfwilson Should be right away. Just make sure you have everything set up correctly and your images follow the restrictions slack placed on emoji uploads. Your yaml file is properly set up, similar to the example yaml files given and then placed in the packs dir. I just uploaded 1600 emojis so I know it works properly.

[2015-08-26 18:15] alecfwilson commented on #1
Hmmm... I am almost positive there are no issues with the format of the images, but I'll double check and test with some emojis from the verified packs as the urls.

Does the yaml file _have_ to be in packs/? I didn't place mine in a packs directory, I guess I might as well try that...

[2015-08-26 19:34] alecfwilson commented on #1
Ok, so I moved my yaml files into packs/. I also split them into smaller bunches so I could test multiple different uploads. I also placed the hipchat.yaml file from @lambtron's repo to test that uploads were working correctly.

The hipchat pack uploaded correctly using the yaml URL from my repo. However, all of my packs still refuse to upload. All my images are within Slack restrictions, and the

[2015-08-26 20:05] austinemayer commented on #1
@alecfwilson I believe the problem lies within your spacing.
YAML uses a fixed indentation scheme to represent relationships between data layers. Salt requires that the indentation for each level consists of exactly two spaces. Do not use tabs.

[2015-08-26 20:57] alecfwilson commented on #1
@austinemayer nice catch, I had forgotten that about YAML, but I just checked, and my local files _are_ using spaces rather than tabs. For some reason, Github is converting them to tabs. Even when I edit the files on Github, two consecutive spaces are turned into tabs. Any idea why this would happen?

[2015-08-26 21:25] alecfwilson commented on #1
@austinemayer I figured out the issue, I had to change my editorconfig, then replace the spaces with spaces again to get it to write to Github correctly. Thanks for pointing out the problem!

[2015-08-28 18:20] alecfwilson opened #6 "Improve the error messages"
Somewhat minor, but when uploads aren't working, the terminal just hangs after entering the YAML file location. So far, I've always been able to solve it, but it's somewhat like searching for a needle in a haystack - so far, I've run into issues with:
- my YAML file format
- duplicate names between emojis in the YAML file and in my Slack account
- missing names for emojis in the YAML file
- incorr

[2015-08-29 04:56] lambtron commented on #6
Hey, thanks for your interest in the project and especially for finding these edge cases :).

The `-d` flag actually just saves the HTML into one of the folders of the `emojipacks` directory itself. Probably not the most elegant solution on me; would've made more sense if i required you to pass an output directory for the HTML.

If you'd like to poke around, I'd recommend adding `console.log` and

[2015-09-02 02:44] lookfirst opened #7 "Upload all files"
One at a time is a pain in the :hankey:

[2015-09-09 14:48] lambtron commented on #1
Closing this one, but feel free to reopen if necessary :)

[2015-09-09 14:48] #1 closed, assigned to nobody

[2015-09-09 14:49] lambtron commented on #7
Hmm yeah good idea. Still need to do some thinking as to what is the best way. Probably in the prompt, it'll just loop through asking for yaml files or something.

[2015-09-13 18:11] lookfirst commented on #7
Just allow me to point at a folder full of yaml files... or just pull the folder/files directly from GH... or just include them in the npm package... doesn't need to be complicated...

[2015-09-17 03:21] michaeladam opened #9 "Missing File Error"
With Node 4.0.0 on OSX 10.10, seeing this error with emojipacks -d

Uh oh! Error: ENOENT: no such file or directory, open '/usr/local/lib/node_modules/emojipacks/test/Slack.html'

I noticed there was a problem when the script would stall at the first emoji upload... and never move on.

[2015-09-17 03:27] michaeladam commented on #9
Yay config problems.  This is fixed.

[2015-09-17 03:27] #9 closed, assigned to nobody

[2015-09-21 16:09] rgbkrk opened #12 "Handle 2FA cycle"
Emojipacks doesn't work on accounts that are 2FA enabled

[code]

Disabling 2FA works, but I'm sure there's a way to handle the full circle.

[code]

[2015-10-18 00:45] lambtron commented on #4
Going to close this out. Let me know if issues persist and I can open it again.

[2015-10-18 00:45] #4 closed, assigned to nobody

[2015-10-18 00:45] lambtron commented on #12
In order to get around the TFA issue, the tool would have to use Slack's oauth. I can take a look into this to see how it can be done. Thanks!

[2015-10-18 00:46] lambtron commented on #5
If we change the CLI to use Slack's auth system, then I think it'll solve this problem. I can take a look into it to see if it can work.

[2015-10-20 22:33] jasonmebw opened #13 "--harmony doesn't work in Ubuntu"
Seems that flag doesn't play well with some distros, but works on Mac.   See here: https://github.com/hiddentao/melkor/issues/12

I removed "--harmony" and worked for me in Ubuntu 14.04.3.

[2015-11-06 23:40] jfexyz opened #15 "test directory can't be created"
`emojipacks -d` kept failing until I manually ran `mkdir /usr/local/lib/node_modules/emojipacks/test`.

I was getting this error:

[code]

[2015-11-06 23:41] jfexyz commented on #15
To be clear, the `test` directory was not at that location after installing with `npm -g`

[2015-11-06 23:57] jfexyz opened #16 "hipchat > firstworldproblems access denied causing failure"
The [`firstworldproblems` emoji](https://dujrsrsgsd3nh.cloudfront.net/img/emoticons/firstworldproblems-1414025630@2x.png) is returning access denied. This causes hipchat imports to freeze.

[2015-11-09 16:14] yuvilio commented on #13
Confirming this bug on my ubuntu with node (using nvm , node version `v4.2.2`)

[2015-11-12 19:58] SabinDeus opened #17 "twitch pack doesn't seem to work"
It goes through the motions but nothing is actually uploaded.

[2015-11-13 00:02] lambtron commented on #17
hmm weird. are you passing `https://raw.githubusercontent.com/lambtron/emojipacks/master/packs/twitch.yaml`?

[2015-11-13 00:03] lambtron commented on #16
ah ok. i have to upload all of these to imgur, then remap it, then i think it'll work.

[2015-11-13 00:04] lambtron commented on #15
oh thank you, will fix this.

[2015-11-13 16:55] SabinDeus commented on #17
Yes.

[2015-11-13 16:58] SabinDeus commented on #17
I suspect it is because the URL does not contain what appears to be an image filename, nor do the response headers from the server send back a content-disposition header with a file name in it, but I have no idea that is just an educated guess

[2015-11-15 05:58] lambtron commented on #17
Hmmm i'll take a look, thank you

[2015-12-03 00:59] SabinDeus commented on #17
Figured it out - apparently Slack custom emoji names have to be all lower case, whereas the Twitch emojipack has uppercase characters in most of the names and those fail

[2015-12-06 18:50] lambtron commented on #17
Oh shoot sorry about that. I can go and fix that.

[2015-12-08 16:55] nickgal commented on #17
I actually created a little ruby script to generate the twitch global & subscriber emotes. It's been working great for me for a few months now.
https://github.com/nickgal/emojipacks-twitch

[2015-12-11 21:43] BMayneFactual commented on #4
I see this on v0.10.31. Will update.

[2015-12-19 04:56] GeekOnCoffee commented on #7
Or you could combine the files...

[2016-01-06 20:58] kyletaylored opened #21 "Adding Slackemojis pack."
Converted the slackmojis.com list into a pack, has a bunch all in one.
[slackemojis.txt](https://github.com/lambtron/emojipacks/files/80355/slackemojis.txt)

[2016-01-06 21:35] jkupferman commented on #21
Slackmojis.com guy here. I just added an yaml endpont to slackmojis that should make bulk importing via emojipacks easier (now with 100% less regex-fu!)

http://slackmojis.com/emojis.yaml

@lambtron let me know if this format works for emojipacks

[2016-01-08 06:57] ckcollab commented on #21
@jkupferman did not work for me, just froze at "Getting emoji page"

[2016-01-08 07:10] kyletaylored commented on #21
@ckcollab which one? The one @jkupferman posted isn't formatted correctly, since I'm guessing it's key based.

You can even paste the link to the txt file in my comment and it'll run just fine.

<img width="704" alt="screen shot 2016-01-08 at 1 08 02 am" src="https://cloud.githubusercontent.com/assets/1759794/12192493/9af9ea9e-b5a4-11e5-9ae8-c073239e9b45.png">

[2016-01-08 08:41] ckcollab commented on #21
@jkupferman's link -- that's why I tagged him, unless I'm confused?

And yeah, that's probably why it didn't work!

[2016-01-08 09:07] kyletaylored commented on #21
Hah, sorry, I wasn't paying attention. It's late. ;)

[2016-01-08 09:10] ckcollab commented on #21
S'all good mang ;)

[2016-01-10 23:13] lambtron commented on #21
https://github.com/lambtron/emojipacks/commit/aa65fdbaa2d37b05943266f26f0b5d1f8252655f

Thanks everyone!!

[2016-01-10 23:13] #21 closed, assigned to nobody

[2016-01-11 02:08] jkupferman commented on #21
Slackmojis allows for multiple emojis with the same name (e.g. mario, carlton), does emojipacks just take the first one?

[2016-01-13 03:13] lambtron commented on #21
Emojipacks will take the first one; every subsequent one will just be ignored. :(

[2016-01-13 15:28] ascendantlogic commented on #16
My uploads still freeze on this particular emoji.

[2016-01-13 16:25] joseche commented on #12
I don't have 2FA enabled and I am getting that same error:

Uh oh! Error: Login error: could not get emoji upload crumb for .....

[2016-01-13 16:26] joseche commented on #12
(~/git/emojipacks)$ emojipacks
Slack subdomain: .......
Email address login: .......@gmail.com
Password: ********
Path or URL of Emoji yaml file: ./packs/starwars.yaml
Starting import
Got tokens
Logged in
Upload crumb is undefined
Uh oh! Error: Login error: could not get emoji upload crumb for https://.......slack.com

[2016-01-19 23:25] kyletaylored opened #23 "Add Hipchat emoji pack"
Went ahead and wrote a little YAML file for Hipchat emojis based on this page: https://www.hipchat.com/emoticons

[hipchat.yaml](https://github.com/lambtron/emojipacks/files/96703/hipchat.yaml.txt)

[2016-01-25 17:47] shaneedwards commented on #16
Same issue occurring today and it appears to happen on 'freddie' after I manually removed the FWP node from the hipchat.yaml file.

[2016-02-02 00:40] kyletaylored commented on #23
jk, that file doesn't work (indenting issues).

[hipchat.yaml.txt](https://github.com/lambtron/emojipacks/files/113217/hipchat.yaml.txt)

[2016-02-03 13:47] pierrenel commented on #12
same as @joseche

[2016-02-08 21:14] danb235 commented on #5
I ran into this issue as well.  +1

[2016-02-12 02:19] elldritch commented on #13
Can confirm, this occurs for me in 14.04.3 LTS with node 5.6.0

[2016-02-12 02:34] elldritch commented on #12
@lambtron are you sure this can be done using OAuth? I was under the impression that only gave access to the Slack API, which doesn't have an emoji upload endpoint.

[2016-02-28 23:53] thorsummoner commented on #13
to fix, get the latest node from https://nodejs.org/en/

[code]

As well I changed the line in `/usr/local/bin/emojipacks`
to

[code]

[2016-03-04 22:03] TheTedAdams commented on #23
Is this different from https://github.com/lambtron/emojipacks/blob/master/packs/hipchat.yaml referenced in the readme?

[2016-03-10 02:54] und1sk0 opened #26 "image upload from github seems to have not worked..."
`emojipacks` logs me in and seems to process my yml, but emoji do not show up on the slack team. i can manually add emoji via the web U/I so it doesn't seem to be a permissions thing. sample from the yaml:

`title: ingress`
`emojis:`
`- name: ada`
`src: https://github.com/thekewe/ingress-slack-emoji/blob/master/emoji/ada_emoji.png`
`- name: axa`
`src: https://github.com/thekewe/ingress-slack-emoji

[2016-03-17 19:26] safusu commented on #12
Throwing my two cents here, but I was able to get it to work by using the web URL and not a path to the yaml file.

[2016-03-25 18:03] kyletaylored commented on #23
Ah, true dat, not different. JK :)

[2016-03-25 18:03] #23 closed, assigned to nobody

[2016-04-05 12:26] kphamilton commented on #26
Also happening for me.

[2016-04-13 07:48] musus commented on #12
I was able to do it when I turned off a Two-Factor Authentication.

[2016-04-21 18:59] spoike opened #29 "More emojis"
Just wanted to let you all know I made some yml files and published on github over here https://github.com/spoike/emojis

The emojis have been uploaded on imgur and the yml files are referencing them. It is possible to use the raw urls specified in the README file in the emojipacks program.

[2016-05-19 16:42] jmhobbs opened #32 "Parrot Explosion!"
Party Parrot had been getting lots on new parrots recently.   I've set things up so when a new parrot is added it updates a YAML here:  http://cultofthepartyparrot.com/parrotparty.yaml

What's the best way to get that synced into this repo?

Thanks!

[2016-06-01 06:33] haneetsingh commented on #5
Me too

[2016-06-06 17:41] gnomishperson opened #33 "Request: SAML / SSO support"
So organizations that use SAML for SSO support do not currently work, because the login form is not used in the fashion this script desires. Don't know if this is something that could even adequately be supported, but would be neat if it could.

[2016-06-10 21:33] BoldBigflank opened #36 "Upload crumb is undefined"
I'm able to log in, but the upload crumb is undefined and fails. Has the Slack website changed somehow breaking the system?

[2016-06-13 18:12] BoldBigflank commented on #36
In my testing, it seems that the login isn't actually logging in, so the page it's trying to pull the crumb from is a "You must sign in first" page.

[2016-06-30 14:31] crestenstclair opened #37 "Any relation to emojipacks.com?"
Are you the one behind: emojipacks.com?

Requesting a username and password is super not cool, and seems super vuln to me.

This should use oAuth or an API token or something.

[2016-06-30 20:10] dshackith commented on #26
Ditto

[2016-06-30 20:45] masonjames commented on #36
Just tested this quickly today and ran into the same error message. Could be due to 2FA?

Suggestion: Better system for authenticating than giving the user/pass combo.

[2016-07-12 07:02] lambtron commented on #37
Haha yes, that is also me. Yes, it's on my plate to use Slack's oauth. This was made before the oauth path was available. Thanks for the reminder!

[2016-07-12 07:02] lambtron commented on #29
Thank you, I'll make sure they're added!

[2016-07-13 19:07] davidcelis commented on #26
This is because `https://github.com/thekewe/ingress-slack-emoji/blob/master/emoji/ada_emoji.png` doesn't actually have a Content-Type of `image/png`; that points to an HTML page that displays the image in GitHub's file view. What you want is the actual raw content:

https://raw.githubusercontent.com/thekewe/ingress-slack-emoji/master/emoji/ada_emoji.png

[2016-07-13 22:30] lambtron opened #38 "Add front end emojis"
https://github.com/FrontEndHappyHour/frontend-slack-emojis

[2016-07-18 02:26] ngunia commented on #33
This is possible, you need to use the Chrome inspector when logged into slack in browser, to get your cookie session string.  I just copied the whole cookie string and passed it into a different script (was easier to edit) and it worked.  If someone wants to hack that in it should work, you'll just have to set it up to skip over the login code so it doesn't error out before you can pass the cookie

[2016-07-18 18:28] JT703 commented on #36
i got this error as well, then i looked up my password and it was wrong. after entering the correct password, it worked.

[2016-07-19 16:05] mtchllbrrn commented on #5
+1

[2016-07-20 15:00] markogresak commented on #36
I've double checked if the password is correct, tried to use 2FA code and nothing worked. Got it working after I've disabled the 2FA, which is a terrible solution. The support for this was already requested in #12.

[2016-07-20 18:33] #37 closed, assigned to nobody

[2016-07-20 21:32] masterkrang opened #42 "Need high res images for retina, look like poo poo in retina"
![image](https://cloud.githubusercontent.com/assets/452219/17003848/b7482e2e-4e86-11e6-8453-22e10d97762a.png)

[2016-07-21 23:51] Templarian commented on #42
If you use the ones from... [slack-emoji-pokemon](https://github.com/Templarian/slack-emoji-pokemon) they are 128x128 and should look nice. It only contains the Pokemon Go 152 unfortunately until they add more.

[2016-07-25 07:14] fkei commented on #5
+1

[2016-07-26 22:28] kdim953 commented on #33
@ngunia Can you share how you accomplished this?

[2016-07-29 22:27] irongollem opened #44 "Issue using the pack"
When going through the initial process I get to enter my company name and email, but after entering the email it does not proceed to the password step as if pending for some more information. Also tried enclosing the email in '' and "" but doesn't seem to work. Also tried your demo domain and email adress to see if it was something in the logging step. Using bash for windows to run the commands

[2016-07-29 23:09] npdoty opened #45 "uninstall option?"
It would be nice to delete every one in a pack as well, rather than manually having to "x" them out on the Slack admin page.

[2016-07-30 21:38] jordanbuchman opened #46 "Steam Emoticons"
I created packs of the emoticons of each game on Steam. The urls in the [readme](https://github.com/jordanbuchman/steamoji/blob/master/README.md) should be usable with emojipacks.

[2016-08-31 19:17] boborchard commented on #5
+1 Any movement on adding Google Auth?

[2016-09-12 17:26] fahslaj commented on #44
I get this as well. Used the Git Bash for windows.

[2016-09-14 17:02] kcharwood commented on #5
Seeing this too

[2016-09-14 17:36] kcharwood opened #50 "Create a new release for NPM?"
Thanks so much for the tool! I installed the version from NPM, but it failed to login. Looks like I needed the `no_sso` from #14, but I don't think that version has made it to NPM yet. I cloned the repo, and was able to use the updated codebase to upload a pack.

Would you be able to push a new version? I'd like to reference this tool in a blog post I'm writing soon about installing emoji packs in

[2016-09-20 15:39] lambtron commented on #50
Done! Thank you!

[2016-09-20 15:39] #50 closed, assigned to nobody

[2016-09-28 21:59] allixsenos commented on #5
:sob:

[2016-10-07 18:52] isaacs opened #53 "occupy hand signals"
This could be handy for someone: https://gist.github.com/isaacs/24314ec7e682f13cabbef2f5aa8ee875

Context: https://en.wikipedia.org/wiki/Occupy_movement_hand_signals

[2016-10-10 09:50] hugovk commented on #29
Added in PR https://github.com/lambtron/emojipacks/pull/57.

[2016-10-10 09:54] hugovk commented on #17
@Sabin1936 This was fixed in https://github.com/lambtron/emojipacks/pull/28 so this issue can be closed.

[2016-10-10 09:56] hugovk commented on #26
@und1sk0 Problem isn't with emojipacks but with custom YAML files. This issue can be closed.

[2016-10-10 09:58] hugovk commented on #32
@jmhobbs The easiest way is to periodically submit updated YAML files.

[2016-10-10 10:03] hugovk commented on #38
Added in PR https://github.com/lambtron/emojipacks/pull/58.

[2016-10-10 10:13] hugovk commented on #44
I get the same with Git Bash, but it works with bog-standard cmd.exe (Windows 7).

[2016-10-11 09:23] hugovk opened #61 "Problems in hipchat.yaml"
Found 9 errors in packs/hipchat.yaml

Error: must be smaller than 64K in file size: https://dujrsrsgsd3nh.cloudfront.net/img/emoticons/disappear-1417754650@2x.gif
Error: cannot open as image: https://dujrsrsgsd3nh.cloudfront.net/img/emoticons/feelsbadman-1417755795@2x.png
Error: cannot open as image: https://dujrsrsgsd3nh.cloudfront.net/img/emoticons/feelsgoodman-1417755815@2x.png
Error: cannot op

[2016-10-11 09:31] hugovk opened #62 "Problem in octicons.yaml"
Found 1 error in packs/octicons.yaml
Error: image can't be larger than 128px in width or height: (129, 114) https://i.imgur.com/jv3mw7d.png

cc @keithamus

[2016-10-11 09:33] hugovk opened #63 "Problems in skype.yaml"
Found 85 errors in packs/skype.yaml
Error: cannot open as image: http://www.skype-emoticons.com/images/emoticon-00173-middlefinger.gif
Error: cannot open as image: http://www.skype-emoticons.com/images/emoticon-00174-bandit.gif
Error: cannot open as image: http://www.skype-emoticons.com/images/emoticon-00175-drunk.gif
Error: cannot open as image: http://www.skype-emoticons.com/images/emoticon-0017

[2016-10-11 09:33] hugovk opened #64 "Problems in skypeflags.yaml"
Found 238 errors in packs/skypeflags.yaml
Error: cannot open as image: http://www.skype-emoticons.com/images/af.png
Error: cannot open as image: http://www.skype-emoticons.com/images/al.png
Error: cannot open as image: http://www.skype-emoticons.com/images/dz.png
Error: cannot open as image: http://www.skype-emoticons.com/images/as.png
Error: cannot open as image: http://www.skype-emoticons.com/im

[2016-10-11 09:35] hugovk opened #65 "Problems in slackmojis.yaml"
Found 27 errors in packs/slackmojis.yaml
Error: image can't be larger than 128px in width or height: (512, 512) http://emojis.slackmojis.com/emojis/images/1460283908/347/askfm.png
Error: image can't be larger than 128px in width or height: (180, 161) http://emojis.slackmojis.com/emojis/images/1458106637/314/flask.png
Error: image can't be larger than 128px in width or height: (263, 263) http://emo

[2016-12-22 10:38] evanberkowitz commented on #36
I similarly encountered this error, but it was my own fault:  I had typed my email incorrectly.

It reported
[code]

and then just hung indefinitely, until I hit `ctrl+c`.

[2016-12-27 14:23] melinerunen opened #72 "Cannot delete characters in pasword input"
When i try to delete part of the password i entered, it keeps adding characters instead of delete them.

[2016-12-27 14:26] melinerunen opened #73 "UnhandledPromiseRejectionWaringin error"
After the unhandled exepcion the app doesn't properly exit to the terminal:

<img width="1064" alt="screen shot 2016-12-27 at 11 24 00" src="https://cloud.githubusercontent.com/assets/1240420/21501460/00bb9226-cc27-11e6-86de-07ba8d17db11.png">

[2016-12-27 14:29] melinerunen opened #74 "Missing command parameteres"
It will be nice to add command parameters in order to add it to a silent script upload. Ie:

emojipacks -d \<slackdomain\> -u \<username\> -p \<password\> \<file.yaml\>
or emojipacks \<file.yaml\>

[2017-01-03 18:20] asachs01 opened #75 "Running "emojipacks" results in: /usr/bin/env: ‘node --harmony’: No such file or directory"
To give a bit more detail, here is the system I'm currently running:

[code]

After finding https://bbs.archlinux.org/viewtopic.php?id=168479, it seems that to resolve the error, changing the shebang to `#!/usr/bin/node` will allow the program to run without presenting the error.

[2017-01-18 15:52] zachfeldman commented on #12
See this PR https://github.com/lambtron/emojipacks/pull/78

[2017-01-18 15:53] zachfeldman commented on #36
See this PR:

https://github.com/lambtron/emojipacks/pull/78

[2017-02-05 09:09] hugovk commented on #65
Here's resized versions of:
* askfm.png
* communist.png
* excite_bike.png
* fail.jpg
* flask.png
* gap.png
* git.png
* nekoatsume.jpg
* slowpoke.jpg
* woot.jpg
* zeplin.png

[slackmojis-resized.zip](https://github.com/lambtron/emojipacks/files/752836/slackmojis-resized.zip)

[2017-02-05 09:44] hugovk commented on #61
PR https://github.com/lambtron/emojipacks/pull/82 fixes this.

[2017-02-09 11:22] aendra-rininsland commented on #32
@jmhobbs You are a gentleman and a scholar.

*edit:* That said, this isn't working — most of your names have spaces in them, which silently fails emojipacks. Updated version:

[code]

[2017-02-09 11:52] hugovk commented on #32
Slack says:

@jmhobbs Could you update it so the names in http://cultofthepartyparrot.com/parrotparty.yaml meet that requirement?

If you wanted to keep the existing names, perhaps put them in `fullname:` and have the Slack-compatible name in `name:`.

[2017-02-09 16:47] jmhobbs commented on #32
Absolutely! They are now based on the gif filename.

[2017-03-04 19:56] #12 closed, assigned to nobody

[2017-03-04 19:56] #36 closed, assigned to nobody

[2017-03-04 19:58] #62 closed, assigned to nobody

[2017-03-04 19:58] #61 closed, assigned to nobody

[2017-03-04 19:58] #63 closed, assigned to nobody

[2017-03-04 20:40] hugovk commented on #64
Fixed in https://github.com/lambtron/emojipacks/pull/83

[2017-03-04 20:40] #64 closed, assigned to nobody

[2017-03-04 23:53] #38 closed, assigned to nobody

[2017-03-05 00:56] #29 closed, assigned to nobody

[2017-03-05 01:06] zachfeldman commented on #75
@asachs01 it sounds like you've figured this one out so I'm closing. Feel free to open if not!

[2017-03-05 01:06] #75 closed, assigned to nobody

[2017-03-05 01:07] zachfeldman commented on #74
@melinerunen pretty good idea! We are about to merge a PR with YAML configuration of these parameters....however if you submit a PR with this, I wouldn't be opposed to merging it. Closing for now though

[2017-03-05 01:07] #74 closed, assigned to nobody

[2017-03-05 01:09] zachfeldman commented on #73
@melinerunen this can be solved with Ctrl + C. Feel free to submit a pull request if this solution doesn't work well for you!

[2017-03-05 01:09] #73 closed, assigned to nobody

[2017-03-05 01:12] zachfeldman commented on #72
This is because of a problem with co-prompt. If they merge this pr soon we could do a version bump, so I'll leave this open for now.

[2017-03-05 01:12] zachfeldman commented on #65
Merged!

[2017-03-05 01:12] #65 closed, assigned to nobody

[2017-03-05 01:13] zachfeldman commented on #53
@isaacs if you'd like to put these into the repo, please feel free to submit a PR. Thanks for bringing this to our attention otherwise!

[2017-03-05 01:13] #53 closed, assigned to nobody

[2017-03-05 01:14] zachfeldman commented on #46
@jordan8037310 very cool! If you want to submit a PR to link to them in our READMe that would be awesome. Otherwise thanks for letting us know.

[2017-03-05 01:14] #46 closed, assigned to nobody

[2017-03-05 01:14] zachfeldman commented on #45
@npdoty for sure. Please feel free to submit a PR for this.

[2017-03-05 01:14] #45 closed, assigned to nobody

[2017-03-05 01:15] zachfeldman commented on #44
@irongollem @fahslaj @hugovk it has been a while since this has been filed and the repo has changed a lot since then. Closing, please reopen if this is still an issue or let us know here!

[2017-03-05 01:15] #44 closed, assigned to nobody

[2017-03-05 01:15] zachfeldman commented on #42
@Templarian please feel free to submit a PR with these ones! Thanks :D

[2017-03-05 01:15] #42 closed, assigned to nobody

[2017-03-05 01:16] zachfeldman commented on #33
@ngunia @kdim953 @gnomishperson closing for now but glad to accept a PR solution. We did implement 2fa recently so I'm sure this is possible too!

[2017-03-05 01:16] #33 closed, assigned to nobody

[2017-03-05 01:17] zachfeldman commented on #32
Merged the latest I think - glad to keep seeing PRs! Party on, parrrot!

[2017-03-05 01:17] #32 closed, assigned to nobody

[2017-03-05 01:17] #26 closed, assigned to nobody

[2017-03-05 01:18] zachfeldman commented on #16
Closing this for now as this was a long-ish time ago. Please let me know if this is still a problem and we'll investigate!

[2017-03-05 01:18] #16 closed, assigned to nobody

[2017-03-05 01:18] #17 closed, assigned to nobody

[2017-03-05 01:19] zachfeldman commented on #15
@joshuajabbour closing because it has been a long time. If this is still a problem please comment!

[2017-03-05 01:19] #15 closed, assigned to nobody

[2017-03-05 01:19] #13 closed, assigned to nobody

[2017-03-05 01:19] zachfeldman commented on #7
All great suggestions. Feel free to submit PRs! Closing for now.

[2017-03-05 01:19] #7 closed, assigned to nobody

[2017-03-05 01:20] zachfeldman commented on #6
Thanks @lambtron , looks like there are good instructions to investigate issues so closing this for now.

[2017-03-05 01:20] #6 closed, assigned to nobody

[2017-03-05 01:20] zachfeldman commented on #5
Closing for now, but glad to accept a PR for this.

[2017-03-05 01:20] #5 closed, assigned to nobody

[2017-03-05 05:27] Templarian commented on #42
@zachfeldman These were added months ago in a PR. Issue just didn't get closed. 😄

[2017-03-05 05:29] zachfeldman commented on #42
Amazing! Thanks for the info @templarian

[2017-03-12 17:44] lambtron opened #89 "Add 'related projects' in readme"
Here is one that is cool: https://github.com/samuelfullerthomas/emojiripper

If there are more we should have a related emoji/slack projects.

[2017-03-24 19:50] bchalls opened #94 ""/usr/bin/env node --harmony: no such file or directory""
The env command on some *nix systems or git bash on Windows can only accept one argument, so you will receive this error if you try and run emojipacks: "/usr/bin/env node --harmony: no such file or directory"

A potential fix is to remove the --harmony option. This does not seem to cause any issues when running with the latest stable build of node.

[2017-03-24 19:51] zachfeldman commented on #94
Thanks for bringing to our attention @bchalls . Mind submitting a PR to ameliorate?

[2017-03-24 22:25] hugovk commented on #94
https://github.com/lambtron/emojipacks/pull/96 is merged, this can be closed. 👍

[2017-03-26 15:42] #94 closed, assigned to nobody

[2017-03-26 21:19] jerome-vai opened #97 "add mattermost support"
add support of mattermost (open source clone of slack)

[2017-03-26 22:34] zachfeldman commented on #97
@jeje-50 sure, would you like to submit a pull request to do so?

[2017-03-29 12:18] snipe opened #98 "error: unknown option `-s'"
Hi there!

I'm running into an issue when I try to run this script via batch or in the one-line version (not interactive mode).

[code]
This seems to happen regardless of whether I pass the optional path:

[code]

And also in the one-liner.

[code]

Installed via npm.

I'm probably missing something really obvious. ☹️  Any ideas?

Thanks!

[2017-03-29 13:32] zachfeldman commented on #98
Paging @bchalls ! He authored the PR for this. Any ideas halls?

[2017-03-29 13:38] bchalls commented on #98
The npm version doesn't seem to be in sync with the repo. If you build from source that shell script should work.

[2017-03-29 13:43] zachfeldman commented on #98
@bchalls do we need to do a new build/reissue or is this more of a @snipe specific issue? Thanks for the quick response!

[2017-03-29 13:45] bchalls commented on #98
Since the batchUploads script isn't included with the npm version there is no immediate need to submit a new build. However the current npm version does not support command line arguments. (Which is why the script isn't working)

[2017-03-29 13:46] zachfeldman commented on #98
Cool @bchalls , what version should we bump to then?

[2017-03-29 13:52] bchalls commented on #98
If you're doing release.feature.bugfix versioning: 0.2.0

[2017-03-29 17:32] zachfeldman commented on #98
@bchalls just released a new version on NPM, agreed that release.feature.bugfix is a good way to go about it (basically semver, right)?

@snipe does this version fix things for you? If not we may need a PR. If yes I'll close this out.

[2017-03-31 04:41] snipe commented on #98
I can confirm that `npm update -g emojipacks` fixed the issue. Thanks so much for the lightning fast response! As a thank you, I just submitted a PR for an emojipack :)

![high-five](https://cloud.githubusercontent.com/assets/197404/24536768/9f0d198c-1591-11e7-9e13-46e10a45e264.gif)

[2017-03-31 04:41] #98 closed, assigned to nobody

[2017-03-31 13:30] zachfeldman commented on #98
Moar emojipacks are the best reward!

[2017-04-02 23:55] tdmalone opened #100 "UnhandledPromiseRejectionWarning"
This is on Windows, tried in two different shells (cmd & mingw64). Also tried both with supplying all the options via command-line, and with interactive responses. Any ideas?

[code]

After this the execution appears to hang.

[2017-04-03 00:05] tdmalone commented on #100
Hmm.. might have partly been my issue, just realised the YAML file was not formatted correctly, but after fixing that I'm getting a slightly different error:

[code]

[2017-04-03 14:36] zachfeldman commented on #100
Hey @tdmalone , thanks for reporting. How does your organization sign in (do you use regular login methods)? Do you use 2FA?

[2017-04-04 00:33] tdmalone commented on #100
Hi Zach!

The particular account I was using for this is just username/password (I do use 2FA on my own account but figured that might get in the way of things!)

I actually came back a bit later and tried this again, and it worked then. So perhaps it had reached some sort of rate-limit with my earlier tries...

So in retrospect, there might not actually be a problem - other than some unhandled er

[2017-04-04 13:06] zachfeldman commented on #100
Awesome! Yeah it was probably a rate limiting problem. I'm going to close this though because testing a feature to handle this case might get us banned... But if it comes up again maybe someone can post a regex or scanner to let users know! Glad to help.

[2017-04-04 13:06] #100 closed, assigned to nobody

[2017-04-21 13:53] dsthedev opened #102 "UnhandledPromiseRejectionWarning"
Fresh install, tried reinstalling, tried googling the error, still getting this error:

`Slack subdomain: d******v`
`Email address login: d******v@gmail.com`
`(node:4044) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2): TypeError: process.stdin.setRawMode is not a function`

[2017-04-21 14:21] zachfeldman commented on #102
Hi @dsthedev thanks for letting us know. What version is this?

Also see this issue:
https://github.com/lambtron/emojipacks/issues/100

May want to wait a few hours or a day or two and then try again, you might just be getting rate limited.

[2017-04-22 01:25] dsthedev commented on #102
Most recent version of Windows 10, gitbash, node/npm and this tool.  I tried it on my macbook minutes afterward and it worked, so I'm not too worried about it now.  I did check #100 before posting this, but it wouldn't even let me get past entering my email.

Any idea how/why I'd be getting rate limited?  It was my 2-5th attempt.

Either way, I can't check it on that machine until Monday.  But I'l

[2017-04-22 19:04] zachfeldman commented on #102
Sounds good!

[2017-04-24 17:10] hvisage commented on #102
Good day,
I'm also getting this, after succesfully loading some of the emojipacks, I'm trying to load the SlackMojis.com pack:

[code]

[2017-04-24 17:53] jerome-vai commented on #97
@zachfeldman i'am a newbie on JS world 😄

[2017-04-25 18:48] zachfeldman commented on #102
Hey @hvisage what operating system are you running in? Debian? If so unfortunately I don't have a Debian setup to try to replicate your issue on. Could you try throwing some debug statements in there and seeing if anything is being returned correctly?

[2017-04-27 19:18] dsthedev commented on #102
Late reply, but I tried it again on my Windows machine and same thing happened...  I'm just going to use it on my Mac for now.  If there is any way I can help with debugging, logs, etc just let me know and I'll see what I can do.  Output again fwiw:

`Slack subdomain: d******v`
`Email address login: d******v@gmail.com`
`(node:13552) UnhandledPromiseRejectionWarning: Unhandled promise rejection (re

[2017-04-27 19:31] dsarauer commented on #102
Just a note, it looks like if you are using GitBash on Windows 10 this error pops up on email entry.  If you launch the Node.js command line in Windows this works as expected.

[2017-04-28 18:01] zachfeldman commented on #102
@dsarauer interesting. That's at least one solution (if people are running windows 10)

@dsthedev can you try the suggestions in this thread and see if they help (see the last 2 comments):
https://github.com/workshopper/stream-adventure/issues/171

[2017-05-02 19:11] IgnoredAmbience opened #104 "image-checker.py fails under Python 3"
Stack trace:
[code]

It looks like the monkey patch line to set the UserAgent for the wget library isn't taking effect for Python 3, this is probably because that library uses different urllib implementations on different Python versions.

Ran into this whilst trying to update the test suite for #52.

[2017-05-02 19:13] zachfeldman commented on #104
@edgemaster thanks for reporting! Is this something you'd feel comfortable fixing yourself or do you need an assist or have any questions?

[2017-05-02 19:13] IgnoredAmbience commented on #104
I'm happy to raise a PR to fix it. (Tbh, a rewrite into JS would be nicer, but I don't have the time for that(!))

[2017-05-02 19:15] zachfeldman commented on #104
That would be awesome! Thanks @edgemaster . Yeah a JS rewrite might be helpful long run, but considering how this library most likely isn't a major production dependency for everyone...let's do it the lazy way :)

[2017-05-02 20:07] hugovk commented on #104
Hello, I wrote image-checker.py using Python 2.7, so I'm not entirely surprised, but sorry about that!

Python 3 support would be good, and probably not too difficult.

It'd be a good idea to enable Travis CI for your repo, and add Python 3 (e.g. 3.6): https://github.com/hugovk/emojipacks/blob/master/.travis.yml#L3
e.g. https://travis-ci.org/hugovk/emojipacks/builds/228087738

Some options:
* Down

[2017-05-02 21:11] IgnoredAmbience commented on #104
I've opted to remove the dependency on wget and use urllib2 directly to download the images. It also removes the need to write out to a temporary file, as everything can be done in memory. It also simplifies the handling of http errors that wget would throw. I don't _think_ it provides less functionality, but I could have missed something.

[2017-05-03 13:09] #104 closed, assigned to nobody

[2017-05-03 14:55] zachfeldman commented on #102
@dsthedev are you still having this issue?

[2017-05-04 08:33] hvisage commented on #102
@zachfeldman I've since retried it (from a place with bit better bandwidth) and it worked fine.

[2017-05-04 13:59] zachfeldman commented on #102
Awesome!

[2017-05-04 13:59] #102 closed, assigned to nobody

[2017-05-19 03:14] WhileLoop opened #112 "Allow upload of local files."
Is this possible? Didn't see anything in the readme about it.

[2017-05-19 12:49] zachfeldman commented on #112
Yeah I think you could make a YAML file that just points to files on your local machine, have you tried that?

[2017-05-19 13:21] WhileLoop commented on #112
Tried it. Maybe I got the syntax wrong?

Uploading aws with ./aws.png
(node:23728) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 3): Error: Invalid URI "./aws.png"

Uploading aws with file://./aws.png
(node:23777) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 3): Error: Invalid protocol: file:

[2017-05-19 14:43] zachfeldman commented on #112
Have you tried an absolute path instead of a relative one?

[2017-05-19 20:21] WhileLoop commented on #112
Absolute path didn't work either.

[2017-05-19 21:16] zachfeldman commented on #112
@WhileLoop Got it. I took a deeper dive into the upload method and realized it loads emojis using the `request()` lib:
https://github.com/lambtron/emojipacks/blob/master/lib/slack.js#L188

In order to load local files, you'd have to integrate a local file reader. Here's a a similar thread:
http://stackoverflow.com/questions/30851520/get-local-json-file-using-request-promise

Alternately, you could

[2017-05-26 06:39] djk opened #114 "UnhandledPromiseRejectionWarning error"
Hi there,

I'm getting the below issue when trying to use https://slackmojis.com/emojis.yaml.

I turned off 2FA in case it was causing issues and the same problem happened. The number (in the below case "5778") next to 'node' appears to change each time I run it. I don't know if this is relevant or not.

I have tried on two different Macs and also a Fedora VM, all using node v7.10.0. I used the np

[2017-05-30 15:45] zachfeldman commented on #114
Hi @djk , haven't seen this error yet. Can you maybe try to figure out what line this is happening on?

[2017-05-31 14:56] djk commented on #114
I'll have another go @zachfeldman and see if I can!

[2017-05-31 15:16] djk commented on #114
@zachfeldman I tried again this time with Node 8 and get the same problem. I used the "-d" flag but it's not outputting anything else apart from this error.

Is there anything else I can try?

[2017-05-31 15:35] zachfeldman commented on #114
@djk that's weird, and you're not seeing a stack trace?

Maybe try running the code that makes up the emojipacks bin from the node console to see if you get a more specific line number:
https://github.com/lambtron/emojipacks/blob/master/bin/emojipacks

Paging @lambtron  or @hugovk ?

[2017-05-31 20:27] djk commented on #114
Hey @zachfeldman. I'm having trouble running this in the console to be honest, I'm not sure I'm doing it right. Can you point me in the right direction?

[2017-05-31 20:28] zachfeldman commented on #114
Did you try running the `node` command in the same directory that the bin usually runs in, then pasting in the commands from that bin? Can you be more specific about what you've tried?

[2017-05-31 20:36] djk commented on #114
undefined

undefined

undefined

undefined

undefined

...  * Usage.
...  */
undefined

Command {
  commands: [],
  options: [],
  _execs: {},
  _allowUnknownOption: false,
  _args: [],
  _name: '',
  Command: [Function: Command],
  Option: [Function: Option] }

Invalid REPL keyword

Invalid REPL keyword

Invalid REPL keyword

Invalid REPL keyword

Invalid REPL keyword

Invalid REPL keyword

Inval

[2017-05-31 20:39] zachfeldman commented on #114
That's ok @djk ! Not sure I'd call myself a primary node dev either but I'll try to help.

There are several errors as you paste the code in the middle. I would try to address those - you may have to modify the source code just a bit from how the bin would normally run in order to get it to work. My hope is that as you do this, you'd figure out the source of your error. Classic debugging!

@lambtr

[2017-05-31 20:41] djk commented on #114
So I cut out the comments and the usage details...

It's losing some formatting so I put it in a [gist](https://gist.github.com/djk/d2630c7f8e7814567b1a88309c779835)

Seems to do the same thing where it won't actually let me enter the Slack subdomain...

Appreciate you taking the time to help by the way! Thanks!

[2017-05-31 21:19] lambtron commented on #114
Thank you everyone for your comments. I'll take a look this evening to see what the issue might  be. Sorry I have been unresponsive!!

[2017-06-01 05:25] lambtron commented on #114
I tried the same inputs as @djk and got the same error. I suspect it has to do with the CLI being unable to parse the format that is presented in your target yaml file.

I'm going to see if I can rewrite the parser so that it can accept it. Thanks for your patience!

[2017-06-01 05:41] lambtron commented on #114
Ok, the new version `0.2.1` should fix this. Try that and let me know if that works!!

[2017-06-01 06:46] djk commented on #114
All working now! Thanks @lambtron!

[2017-06-01 06:46] #114 closed, assigned to nobody

[2017-06-01 15:23] zachfeldman commented on #114
Go @lambtron go!

[2017-06-07 17:02] patcon opened #116 "Prefix for occupy emoji"
For people who don't know the occupy symbols, finding them in selector is hard.

Let's add `occupy-` prefix so they're more easily discoverable! :)

[2017-06-07 17:05] patcon opened #117 "Allow importing of aliases from emojipacks"
Reticketed as another possible feature stemming from #116

Would be rad if we could import aliases (even as their own first-class citizen in the yaml, as it's own object not tied to an emoji being imported)

[2017-06-07 17:29] zachfeldman commented on #117
Would be glad to take this as a PR @patcon !

[2017-06-26 16:39] kinduff commented on #112
:+1:

[2017-07-14 17:21] lisaah commented on #97
I've made this before for bulk emoji transfer on Mattermost, if it helps: https://github.com/lisamai/emojiporter

[2017-07-14 19:40] zachfeldman commented on #97
V cool. Going to close this issue then...

[2017-07-14 19:40] #97 closed, assigned to nobody

[2017-07-25 05:04] flamableconcrete opened #122 "Write a script to update slackmojis.com emojis"
https://slackmojis.com gets updated with new emojis every so often. We should keep up to date with it! But there are so many, and life is so hard! Good thing they have https://slackmojis.com/emojis.json for developers to work with. A script should be written to parse it and automatically put it in an emojipack format.

[2017-07-28 19:48] emossman opened #125 "Support for teams with SSO enabled?"
Our slack team authenticates against GSuite - is this type of authentication supported by emojipacks? Here's the error I get when running in debug mode:

[code]

[2017-07-28 20:18] zachfeldman commented on #125
Unfortunately it's not supported at this time, although we do support 2fa. Maybe take a look at the PR i did for that for some inspiration, if this is possible at all?
https://github.com/lambtron/emojipacks/pull/78

[2017-07-28 20:21] #122 closed, assigned to nobody

[2017-07-30 13:36] gtback opened #126 "Add prefixes for slackmoji packs"
Some ideas to prevent name conflicts between different packs:

- prefix `slackmojis-scrabble-letters.yaml` with `scrabble-`
- prefix `slackmojis-facebook-reaction.yaml` with `fb-`

From https://github.com/lambtron/emojipacks/pull/123#issuecomment-318894509

[2017-08-03 16:45] flamableconcrete commented on #126
Here's my first draft. Any comments on the ones in the middle where I haven't decided? I think I lean more on the no prefix side when in question. Except maybe Star Wars? Convince me otherwise or I'll put in a pull request for just the ones below with a definite prefix.

For quick reference: http://slackmojis.com

| Category          | File                                 | Prefix          |
| ---

[2017-08-03 17:19] gtback commented on #126
I'd also lean towards no prefixes for now on the ones you have as `or none`.

[2017-08-03 22:43] zachfeldman commented on #126
Agreed with what's been said so far.

[2017-08-15 02:49] gtback commented on #126
Closed by #127

[2017-08-15 02:49] #126 closed, assigned to nobody

[2017-08-27 12:19] niftylettuce opened #129 "CLI does not allow easily path interpretation"
After installing the package globally, it is not easy to get the paths of the files (it's undocumented in the Readme).  To the average user it is probably non-trivial to how to do get the full path to the yaml files installed in the directory where `emojipacks` is.

We should probably check file path passed to see if it's in `packs` folder.

For example:

[code]

It should allow `animals.yaml`, an

[2017-08-27 12:25] niftylettuce commented on #129
I'll be submitting a PR that resolves this.

[2017-08-27 12:46] niftylettuce commented on #129
Nevermind, the codebase is a mess, there's generators defined that don't even have yields.  If anyone else wants to do this go ahead.

[2017-08-28 08:10] zachfeldman commented on #129
@niftylettuce thanks for bringing this up!

I'll leave this issue open for a while to see if anyone is interested in helping out besides yourself.

I've traditionally just given the full URL of an emojipack raw from GitHub which works well for me, but I'm just one user....

[2017-10-09 09:18] hugovk opened #134 "Found 11 errors in packs/hipchat.yaml"
CI is failing due to packs/hipchat.yaml:

[code]

https://travis-ci.org/lambtron/emojipacks/builds/285425499#L831

URLs should be updated or otherwise just moved.

[2017-10-09 09:19] hugovk commented on #134
Ping @lambtron who added these in https://github.com/lambtron/emojipacks/commit/46269220b43d1179a23966431b514c27c88340d7#diff-0b2c9770eef44237f361447ddea0995f.

Do you know of updated URLs, or shall we just ditch these?

[2017-10-09 16:15] zachfeldman commented on #134
Let's just ditch them for now to make the tests pass...if you have time to PR @hugovk I'd appreciate it! If not, let me know and I can try to git in.

[2017-10-09 16:15] zachfeldman commented on #134
*dig in

[2017-10-09 16:25] #134 closed, assigned to nobody

[2017-10-31 07:03] EaterOA commented on #112
You can also run a local http server (e.g. `python3 -m http.server`). Then you can use localhost urls.

[2017-11-01 17:10] kinduff commented on #112
Nice workaround @EaterOA

[2017-11-14 17:37] scott-joe opened #142 "Failing Silently"
This took a minute to figure out because even `-d` had nothing to say, but I had a few issues using this tool.

1) It uses `isURI` and thus cannot load files from the local system. I'm sure this has something to do with what I later discovered is Cheerio running an automation on the web form instead. The SlackAPI lets you list, but not write emoji. The error it gives around this is pretty confusin

[2017-11-14 18:15] zachfeldman commented on #142
@scott-joe I had no idea this was a for profit project. This is news to me. Apparently @lambtron decided to make that change without telling anyone on this repo.

[2017-11-14 18:16] zachfeldman opened #143 "FYI: Emojipacks is for-profit"
Feel free to contribute as you'd like, but just understand that @lambtron charges for emojipacks at emojipacks.com. I'm going to step down as a contributor for now because of this.

[2017-11-14 18:23] zachfeldman commented on #142
@scott-joe see https://github.com/lambtron/emojipacks/issues/143 . I'm out! Good luck with the issues though.

[2017-11-15 04:08] #143 closed, assigned to nobody

[2017-11-15 18:59] lambtron commented on #142
thank you for the issue @scott-joe. i will resume maintaining this. your comment about the copyright stuff is 100%. i threw the monetization together really quickly and wasn't sure if it would amount to anything. but making the necessary changes to avoid legal issues is on the road map.

thank you!

[2017-12-27 20:40] dan-kez commented on #100
I'm also having the same issue though this occurred on my first attempt:

[code]

[2017-12-28 20:57] Santana1053 commented on #114
Hello, using version 0.2.1 and still seeing this issue

[2017-12-28 20:57] Santana1053 commented on #100
I am also having this issue, running version 0.2.1

Edit: The issue might have something to with having special characters in your password

[2018-03-08 15:58] dallasbpeters opened #148 "emojipacks for Discord?"
This tool is so amazing! Thanks for making it. I've been looking around for the same tool for Discord to no avail. Any interest making it work for Discord too? The gaming community would ❤️ you for it. 🎮 👾

[2018-06-07 20:22] dominicbarnes commented on #125
Our team uses Okta for SSO and we're blocked on the same issue. :cry:

[2018-06-08 15:22] uxward commented on #100
I'm also having this issue. Mac OS X, 10.13.6 Beta.

[code]

[2018-06-11 10:52] dgilperez commented on #125
I'm seeing the same issue in an account without 2FA.

[2018-07-02 21:18] roberthurricane commented on #125
We also cannot use this because we have SSO with GSuite enabled. It would be nice to fix this somehow...

[2018-07-31 23:20] moustachedelait commented on #112
Any recommendations on how to generate a YAML file of a local directory of images?

[2018-08-26 10:52] ohcibi opened #157 "New layout breaks upload completely"
It appears that slack has changed its layout in the admin area and now the upload fails because the `upload crumb` cannot be found. I'm just trying to fix that but I cannot see what the 'Upload crumb' should be, nor can I remember what It could have been in the old layout. If someone could just tell me the meaning of the old fields and maybe even a mapping to the new fields, I'd be happy to contri

[2018-08-26 21:58] jackellenberger commented on #157
Hi! this is fixed with https://github.com/lambtron/emojipacks/pull/155

There aren't any contribution guidelines so I don't know if we should @ someone to get a review. If no one is around in another few days I'll start shoutin'.

[2018-08-27 00:02] ohcibi commented on #157
I just tested it by uploading ~500 emojis to our new slack space..... :ohcibi:

[2018-08-27 00:02] #157 closed, assigned to nobody

[2018-08-27 15:02] JustOneMoreDog commented on #157
this never got pushed to master it would seem.  Also emojipack no longer seems to work after your changes.  I am probably doing something wrong though.  I installed node and npm and then did a git clone.  I went into the directory and changed the two files you changed.  Then I ran make.  Now whenever I run the command emojipacks, it does not output anything at all and just returns.  Do you have an

[2018-08-27 15:08] jackellenberger commented on #157
Hi @picnicsecurity! It' hasn't been reviewed so I don't want to get it into master just yet. `make` shouldn't have anything to do with it, I think that's just for CI testing. I would double check that the diff on `lib/slack.js` is identical, or just checkout the branch itself. As for no output - are you giving emojipacks an input? It should ask for a slack org, username, password, and a source yam

[2018-08-27 15:18] ohcibi commented on #157
@picnicsecurity

* this issue here is not about the PR at #155 which has it's own comments section for exactly those problems that happen with the changes introduced by the PR (although both the issue and the PR had the same motivation for being created)
* I'd never expect the way you tested this to work as PRs have rarely branched of the exact commit you are cloning when you found the PR on githu

[2018-08-27 17:05] JustOneMoreDog commented on #157
@ohcibi

I am still learning git so forgive my silly questions here.  What would be the url of the repository with the pr?

[code]

[2018-08-27 17:46] jackellenberger commented on #157
@picnicsecurity you can see the branch on the pr page, `update-selector-for-upload-page-rewrite`
![image](https://user-images.githubusercontent.com/6370918/44675837-2e15d880-a9f7-11e8-81c7-0c7cbdf9c6f1.png)

So your commands should be
[code]

[2018-08-27 18:55] JustOneMoreDog commented on #157
Thank you so much for your help :D

[2018-08-28 07:47] 101shipit opened #158 "emojipacks fails after the most recent slack update"
Slack has update the web UI for the emojis page, and now emojipacks now fails with the following.
[code]

[2018-08-28 10:37] Ruegen commented on #158
Happens to me too, did they change the Slack api?

[2018-08-28 10:54] Ruegen commented on #158
[same error](https://github.com/lambtron/emojipacks/issues/157)

[2018-08-31 05:20] kazuuuutaka commented on #158
occur same error

[2018-09-06 15:29] SatyrTrickster commented on #158
Same error

[2018-09-07 12:50] tsasaki609 commented on #158
Same error

[2018-09-07 22:47] camwhite commented on #158
In my opinion this module needs to be rewritten using [puppeteer](https://github.com/GoogleChrome/puppeteer) because Slack has added a modal you must click through.

[2018-09-11 11:56] itslenny commented on #158
@camwhite On it... Slapped this together in a few hours. It's worked well for me so far.

https://github.com/itslenny/slack-emoji-import

[2018-09-11 14:30] camwhite commented on #158
Lol they could only stop bulk uploads for less than a week! Good job @itslenny !!!!

[2018-09-16 22:21] jackellenberger commented on #158
@camwhite no need for puppeteer, they actually added emoji uploads to the proper api (albeit undocumented), so all you need is a user token. No client crumb or cookie needed so no need to interact with the browser!

[2018-09-21 14:43] argais commented on #125
I join the masses in requesting this :D

[2018-09-26 03:27] jackellenberger commented on #158
@lambtron this can be closed with https://github.com/lambtron/emojipacks/pull/155 !

[2018-09-28 18:47] elliotvilhelm commented on #100
same issue

[2018-09-29 10:53] ghost commented on #100
Run with -d(ebug) option

Starting import
Got tokens
Logged in
Uh oh! Error: Login error: could not get emoji upload crumb for https://***.slack.com
(node:15347) UnhandledPromiseRejectionWarning: Error: Login error: could not get emoji upload crumb for https://***.slack.com
    at Slack.emoji (/usr/local/lib/node_modules/emojipacks/lib/slack.js:162:34)
    at Slack.emoji.next (<anonymous>)
    at

[2018-10-04 21:57] edward-hong commented on #158
Hi I've tried both and get different errors. For `slack-emoji-import` I get the error:

[code]

For `emojipacks` I get the error:

[code]

[2018-10-08 18:12] nickygencs17 opened #159 "Failing after entering email"
Windows 7
$ npm -version
5.6.0

[code]

[2018-10-17 02:58] breadstickguy commented on #100
I am getting the same issue as tsunghao. I've used this on many teams before but it's not working now. I'm an admin in my workspace as well

[2018-10-17 07:16] ghost commented on #100
@breadstickguy
I am able to use emojipacks after switching to this commit:

-----------
commit 3651dd8aaafbcd3fe22c25742e55e73cd63a8dcd (HEAD -> update-selector-for-upload-page-rewrite, jackellenberger/update-selector-for-upload-page-rewrite)
Author: jackellenberger <jellenberger@uchicago.edu>
Date:   Mon Aug 27 00:19:50 2018 -0500

    remove excessive debugers
-----------

Good Luck!

[2018-10-18 19:34] ghost commented on #158
@jackellenberger it seems emojipacks still doesn't work - i tried cloning straight from your fork too.
[code]

[2018-10-18 21:19] jackellenberger commented on #158
@michaelwm I can't reproduce, are you sure you're specifying the correct creds?

I've moved most of my emoji-development time to [emojme](https://github.com/jackellenberger/emojme) which does a few more things than emojipacks, but doesn't come with any packs of its own.

[2018-10-19 16:44] rreynier commented on #158
I am seeing the same issue as @michaelwm .  Maybe slack updated the interface again?

[2018-10-26 11:29] blineadam commented on #158
simply open the package.js file and modify
  return 'https://' + subdomain + '.slack.com';
to be
  return 'https://' + subdomain + '.slack.com/?no_sso=1';
and re-run make.  This will fix emojipacks.

[2018-11-23 07:20] bronek89 commented on #158
Hi!
It seems that on npm is version without this fix:
https://www.npmjs.com/package/emojipacks (last release about year ago)

[2018-11-28 17:47] xianny opened #162 "Can't get emoji crumb with 2FA signin"
I saw this [previous PR](https://github.com/lambtron/emojipacks/pull/78), but my login is still failing!

[code]

We use 2FA. :( Anything I'm missing? I just did `npm install -g` and ran the command.

[2018-11-30 15:55] UlyssesInvictus commented on #100
@tsunghao 's fix worked great, thank you!

[2018-11-30 15:57] UlyssesInvictus commented on #100
Actually, check that: I can't confirm that it didn't just work because I stopped trying to use NPM, and installed straight from source (using git+make) instead. This issue (https://github.com/lambtron/emojipacks/issues/158) seems to suggest it's just because the NPM distro is very out of date.

[2018-12-03 18:34] jacketattack commented on #100
@tsunghao thanks! Building from that commit worked for me as well. For other folks, I checked out commit 3651dd8 and then ran `make` from the root of the project as the README advises. After that I was able to install my emjois without the Login error around emoji upload crumb.

[2018-12-07 15:20] arukaen commented on #159
Try node6 instead. That seems to work the best for me. If you have docker installed I have a PR where I've added docker support. https://github.com/lambtron/emojipacks/pull/163

[2018-12-16 06:00] r0ug3 opened #164 "Batch Upload - Permission Denied"
I copied the batchUploadExample.sh file and edited the top fields.  Saved as batchUpload.sh and tried running
```./batchUpload.sh```
I am getting a permission error but my shell is running as root.

In addition:
Running just one file upload throws an app error after I put in 2FA.
```Uh oh! Error: Application Error: unable to find api token on login page```

[2019-01-10 18:18] gzurbach commented on #158
I confirm that cloning the repo solves the issue. Would be great if the latest was published to `npm` though.

[2019-01-10 19:48] nickygencs17 commented on #159
$ npm -version
6.4.1
Same issue

[2019-01-28 20:23] arukaen commented on #159
Should've mentioned I'm on Linux where-as you are on Windows. Maybe something different there.

[2019-02-13 11:33] ianwinter commented on #162
We've got Google SSO enabled, and, also seeing the same error.

[2019-02-13 11:34] ianwinter commented on #125
Also affected as use GSuite.

[2019-03-05 08:12] itsamayo commented on #158
Also getting this error with correct creds

[2019-03-05 18:02] jackellenberger commented on #158
Hey @AshKetchumza, this is actually a different problem then what was happening before; Slack recently updated their pages to not use a long configuration string that was [regex'd into](https://github.com/lambtron/emojipacks/blob/ee731adc217c0c5361fe554937f775c6ba5ee676/lib/slack.js#L27), but as of yesterday they use a nice lil JSON.

That file, /lib/slack.js, will need an update for the login to

[2019-03-06 05:24] elloboblanco commented on #164
Same issue here!

[2019-03-06 14:32] kmcgaire commented on #164
Same!

[2019-04-01 15:11] DavidWatkins commented on #164
I was able to fix it by manually generating a token at: `https://api.slack.com/custom-integrations/legacy-tokens` and replacing the line `opts.apiToken = match[1];` in `lib/slack.js` with the token itself and commenting out the http request. I am assuming the lack of a generated auth token is the issue?

[2019-04-24 22:09] davem-git commented on #164
fix didn't work for me, assuming i replaced the token properly. Did you put it inside the match[]. or put the token after the =? I've tried multiple different ways no luck

[2019-05-07 11:51] jkogara commented on #164
I tried this approach, https://github.com/lambtron/emojipacks/issues/164#issuecomment-478619697, but the api is returning `{"ok":false,"error":"not_allowed_token_type"}`

[2019-05-09 18:53] mcconkiee commented on #164
Just to clarify what @DavidWatkins did (and does work for me), commenting lines [153-158](https://github.com/lambtron/emojipacks/blob/master/lib/slack.js#L153) (or simply remove) and making it read:

[code]

[2019-05-13 18:55] davem-git commented on #164
So now this doesn't error but it doesn't do anything either

[2019-05-25 07:17] navisayslisten commented on #162
Also still failing, Windows 10, node 12.3.1.
![image](https://user-images.githubusercontent.com/27226232/58366125-e4292880-7e8a-11e9-94b3-e5c635b674e3.png)

[2019-07-18 13:53] conseev opened #167 "Error: Application Error: unable to find api token on login page"
When I try to use this, it fails with:

[root@server emojipacks]# emojipacks
Slack subdomain: conseev
Email address login: xxx@conseev.com
Password: ****************
Path or URL of Emoji yaml file: slackmojis-retro-game.yaml
Starting import
Got tokens
Uh oh! Error: Application Error: unable to find api token on login page
(node:6581) UnhandledPromiseRejectionWarning: Unhandled promise rejection (r

[2019-07-18 13:58] conseev commented on #167
The tips in https://github.com/lambtron/emojipacks/issues/164 resolved this issue. However, the actual ability to bulk uplaod is still limited by Slack's API rate limiting.

[2019-07-25 20:48] jungledre commented on #164
mcconkiee's tip seemed to work for me but I'm not seeing them in the actual application even after three hours.

I found an alternative solution using chrome extensions.
* Copy the urls provided in the yaml files in this repo.
* Download images that list of images using the tab save extension https://chrome.google.com/webstore/detail/tab-save/lkngoeaeclaebmpkgapchgjdbaekacki
* Then drag those into

[2019-08-24 03:34] robhawkins commented on #164
Sometimes the URL filenames do not match the emoji's name. Here is [my solution](https://gist.github.com/robhawkins/0ca82696c886697b5a0261dd788253d4).

In theory someone could make a browser extension that reads a YAML file, downloads the data and then uploads it to slack.

[2019-10-10 09:25] annedroiid commented on #162
Same thing on MacOS 10.14, node 8.0.0

[2020-02-13 10:28] GlenTiki commented on #162
Same thing, but no 2fa enabled.

[2020-02-13 17:46] karthik1288 opened #170 "Does this have support for google sign in ?"
Just need help with how to access this using a google account, is that currently supported?

[2020-03-19 18:48] timsully commented on #164
I am having the same issue @davem-git is having. I modified the `lib/slack.js` file by adding my test API token using the following steps indicated by @mcconkiee but still a recurring issue. Anyone else coming across this issue?

[code]

[2020-03-20 13:01] xlogix commented on #158
+1 Still having this error in 2020

[2020-05-06 14:29] davidkhardwick commented on #158
+1 same

[2020-09-15 17:47] Ryanb58 commented on #170
I am attempting this as well with no luck.

[2021-05-26 09:25] kamilk91 opened #171 "Uh oh! Error: Login error: could not get login form for https://workspacename.slack.com"

[2021-05-28 05:51] ilya-levin-lokalise opened #172 "Add BetterTTV emoji pack"
Hey! Would love to see a pack for these emojis: https://betterttv.com/emotes/top

[2021-06-02 16:23] emeria commented on #158
Anyone find a fix for this?

[2021-06-02 16:24] emeria commented on #171
Same issue.

[2021-06-02 23:29] andrewmwilson commented on #158
@emeria: no I didn't find a fix. I ended up just using this
https://chrome.google.com/webstore/detail/neutral-face-emoji-tools/anchoacphlfbdomdlomnbbfhcmcdmjej

[2021-06-08 19:32] hkmaly commented on #171
Same issue.

[2021-08-17 07:58] teiling88 commented on #171
Same issue!